/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#composeContentBox
  {
    position: relative !important;
  }


.dropmeDropBox {
  background: #a6a6a6 url('chrome://dropme/skin/arrow-circle.svg') no-repeat fixed center;
  background-size: 70% 70%;
  position: absolute; 
  width: 100%; 
  height: 100%; 
}

#dropMeDropSpace {
    height: 80%;
}

#dropMeDropDescription {
    font-size: 24px; 
    font-weight: bold;
    position: absolute;
    text-align: center;
    color: #444444;
}

#dropmeNewMessage {
  color: #475281; 
  font-weight: bold;
  margin: 5px 8px 5px 8px !important;
}

.dropmeRcptField {
  background: white;
}

.dropmeRecipient {
  background: #59628b;
  color: white;
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.dropmeRecipient:hover {
  background: #363c57;
}


.dropmeAutocomplete {
  position: absolute;
  display:block;
  
}

.dropmeAutocomplete-list {
  position: absolute;
  width: 300px;
  z-index: 99;
}


.dropmeAutocomplete-list > listrows {
  width: 300px;
}

.dropmeAutocomplete-item {
  width: 300px;
}


.dropmeAutocomplete-item > listcell {
  width: 300px;
}
